* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    color: white;
    padding: 20px;
}
.links ul {
    display: flex;
}
.links ul li {
    list-style: none;
    margin-right: 35px;
}
.links ul li a {
    text-decoration: none;
    color: white;
}
.stroke {
    height: 20px;
    width: 2px;
    color: red;
}