* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
    list-style: none;
}
.navbar {
    width: 100%;
    background: rgb(13, 13, 117);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 150px;
    height: 80px;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hamburger {
    display: none;
}
.navbar ul {
    display: flex;
    justify-content: space-between;
}
.navbar ul li a {
    display: block;
    color: white;
    transition: 0.2s;
    padding: 10px 25px;
    text-decoration: none;
    margin: 0 5px;
}
button {
    border: none;
    background: none;
    color: #fff;
    cursor: pointer;
}
.links .register {
    background: rgb(129, 129, 214);
    padding: 5px 13px;
    border-radius: 20px;
}
.slash {
    height: 15px;
    width: 2px;
    background: grey;
    margin: 10px 20px;
}



            /* media */

@media only screen and (max-width: 923px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger .line {
        width: 30px;
        height: 2px;
        background: white;
        margin: 6px 0;
    }
    .links {
        height: 0;
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        width: 100vw;
        background: rgb(13, 13, 117);
        transition: 0.5s;
        overflow: hidden;
    }
    .links.active {
        height: 350px;
    }
    .links.active ul {
        opacity: 1;
    }
    .navbar {
        padding: 0 70px;
    }
    .links ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        opacity: 0;
        transition: 0.5s;
    }
    button {
        display: flex;
    }
    .links ul li a {
        margin-bottom: 12px;
    }
    
}
@media only screen and (min-width: 840px) {
    .btn {
        display: flex;
        text-align: center;
    }
}
@media only screen and (max-width: 390px) {
    .navbar {
        padding: 0 30px;
    }
    .btn {
        display: flex;
        text-align: center;
    }
}